# unity ignore dir
[Bb]in/
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uilds/

# Visual Studio cache directory
.vs/
 
# unity ignore file
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.tmp
*.pidb
*.booproj
characterShow/Assets/Node_Editor_Framework/CurSession.asset
characterShow/Assets/Node_Editor_Framework/LastSession.asset
characterShow/Assets/Node_Editor_Framework/CurSession.asset.meta
characterShow/Assets/Node_Editor_Framework/LastSession.asset.meta
